.about {
    background-color: var(--color-primary);

    .content {
        background-image: url('../images/about-stamp.png');
        background-repeat: no-repeat;
        background-position: right center;
        height: 100%;
    }

    .paragraph {
        width: 28rem;
        margin-bottom: var(--spacing);
    }
}

.content {
    margin-left: var(--offset-1);
    background-color: var(--color-white);
}
