.about {
    background-color: var(--color-primary);

    @include media('<=tablet') {
        height: auto;
    }

    .content {
        @include has-background-stamps;
    }

    .paragraph {
        width: 28rem;
        margin-bottom: var(--spacing);

        @include media('<desktop') {
            width: 100%;
        }
    }
}
