.footer {
    width: var(--offset-1);
    height: calc(100% - var(--height-73));
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    @include media('<=tablet') {
        background-color: var(--color-primary);
        width: 100%;
        height: auto;
        position: static;
        align-items: flex-start;
        z-index: inherit;
        margin-bottom: 4.75rem;
    }
}

.address {
    &__list {
        padding: 2rem;

        @include media('<=tablet') {
            width: 100%;
        }
    }

    &__item {
        transition: var(--transition);
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        &:hover {
            transform: translateX(5px);
        }
    }

    &__info-link {
        display: flex;

        @include media('<=tablet') {
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;

        @include media('<=tablet') {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &__info {
        color: var(--color-white);
        margin-left: 13px;

        @include media('<=tablet') {
            margin-left: 1rem;
            font-size: var(--size-18);
        }
    }
}
