.footer {
    width: var(--offset-1);
    height: calc(100% - var(--height-73));
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    justify-content: flex-end;

    @include media('<=tablet') {
        background-color: var(--color-primary);
        width: 100%;
        height: auto;
        position: static;
        align-items: center;
        z-index: inherit;
        margin-bottom: 4.75rem;
    }
}

.address {
    &__list {
        margin-bottom: 4.375rem;
        margin-left: 4.3125rem;

        @include media('<desktophd') {
            margin: 2rem;
        }

        @include media('<=tablet') {
            text-align: center;
        }
    }

    &__item {
        transition: var(--transition);
        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
        &:hover {
            transform: translateX(5px);
        }
    }

    &__info-link {
        display: flex;

        @include media('<=tablet') {
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &__info {
        color: var(--color-white);
        margin-left: 13px;
    }
}
