.header {
    width: 100%;
    height: var(--height-73);
    position: absolute;
    z-index: 999;

    @include media('<=tablet') {
        height: var(--mobile-height);
        box-shadow: var(--box-shadow);
    }

    &__top {
        height: inherit;
        width: inherit;
    }
}
