// Hero

.hero {
    display: flex;
    height: 100vh;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    &__title {
        position: absolute;
        margin-left: 6.5rem;
        width: 50%;
        top: 50%;
        left: 0;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: -0.05em;
        color: var(--color-white);
        transform: translateY(-90%);
        text-shadow: 0px 0px 42px rgba(0, 0, 0, 0.25);
        line-height: 60px;
    }

    .nav {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 15%;
        z-index: 3;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);

        &__list {
            width: 100%;
            display: flex;
            list-style: none;
            align-items: stretch;
            justify-content: center;
        }

        &__item {
            transition: var(--transition);
            font-size: var(--size-20);
            font-weight: 500;
            color: var(--color-black);
            text-transform: capitalize;

            padding: 3rem 1.5rem;
            &:hover {
                color: var(--color-white);
                background-color: var(--color-primary);
            }
        }

        &__link {
            display: inline-block;
            width: 100%;
            text-decoration: none;
        }
    }

    // Side bar with logo and business card
    .side-bar {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        min-width: 31rem;
        background-color: var(--color-primary);

        &__link {
            display: inline-block;
            width: 210px;
            margin-top: 7.375rem;
        }

        &__logo {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &__card {
            position: absolute;
            width: 496px;
            height: 14.25rem;
            background-color: var(--color-primary);
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &__list {
            margin: 65px auto 0 65px;
        }

        &__item {
            transition: var(--transition);
            &:not(:last-child) {
                margin-bottom: 1.25rem;
            }
            &:hover {
                transform: translateX(5px);
            }
        }

        &__info-link {
            display: flex;
        }

        &__icon {
            width: var(--size-20);
        }

        &__info {
            color: var(--color-white);
            margin-left: 13px;
        }
    }

    &__social {
        position: absolute;
        right: 0;
        bottom: 0;
        transition: var(--transition);

        &:hover {
            background-color: var(--color-secondary);
        }

        &-link {
            display: block;
            padding: 2.89rem 4.2rem;
        }

        &-img {
            width: 1.5rem;
        }
    }
}
