.logo-wrap {
    display: flex;
    top: 0;
    height: var(--height-73);
    justify-content: center;
    align-items: center;
    width: var(--offset-1);

    @include media('<=tablet') {
        justify-content: flex-start;
        width: calc(100% - var(--mobile-social-width));
        height: var(--mobile-height);
        position: fixed !important;
    }
}

.logo {
    width: 13.125rem;
    display: block;

    @include media('<=tablet') {
        height: 100%;
        width: initial;
    }

    &__box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        @include media('<=tablet') {
            padding: 1.0875rem 2.9rem;
            max-width: 20.875rem;
        }

        @include media('<phone') {
            padding: 1.0875rem 15%;
        }
    }

    &__img {
        object-fit: cover;
    }
}
