.logo-wrap {
    display: flex;
    top: 0;
    height: var(--height-73);
    justify-content: center;
    align-items: center;
    width: var(--offset-1);

    @include media('<=tablet') {
        justify-content: center;
        width: calc(100% - var(--mobile-height));
        height: var(--mobile-height);
        position: fixed !important;
    }
}

.logo {
    width: 13.125rem;
    display: block;

    @include media('<=tablet') {
        margin: 0.5rem 1rem;
        width: initial;
    }

    &__box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        @include media('<=tablet') {
            max-width: 238px;
        }
    }

    &__img {
        object-fit: cover;
    }
}
