.nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: var(--offset-1);
    right: 10%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    @include media('<=tablet') {
        right: 0;
        left: 0;
        overflow-x: scroll;
    }

    &__list {
        width: 100%;
        display: flex;
        list-style: none;
        align-items: stretch;
        justify-content: space-around;
        padding: 3rem;

        @include media('<=desktophd') {
            justify-content: space-between;
            padding: 2.5rem;
        }

        @include media('<=desktop') {
            padding: 1.75rem;
        }

        @include media('<=827px') {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        @include media('<=tablet') {
            padding: 2rem;
        }

        @include media('<612px') {
            min-width: 622px;
        }
    }

    &__item {
        font-size: var(--size-20);
        font-weight: 500;
        color: var(--color-black);
        text-transform: capitalize;
        transition: var(--transition);

        @include media('<=desktophd') {
            justify-content: space-between;
            font-size: var(--size-18);
        }

        @include media('<=desktop') {
            font-size: var(--size-16);
        }

        @include media('<=tablet') {
            font-size: var(--size-20);
        }
    }

    &__item {
        &:not(:last-child) {
            @include media('<=desktop') {
                margin-right: 0.5rem;
            }
            @include media('<=tablet') {
                margin-right: 0;
            }
        }
    }

    &__link {
        display: inline-block;
        width: 100%;

        &:hover {
            text-decoration: underline;
        }
    }
}
