.nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 34.44444%;
    right: 10%;
    z-index: 3;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    &__list {
        width: 100%;
        display: flex;
        list-style: none;
        align-items: stretch;
        justify-content: center;
    }

    &__item {
        transition: var(--transition);
        font-size: var(--size-20);
        font-weight: 500;
        color: var(--color-black);
        text-transform: capitalize;

        padding: 3rem 1.5rem;
        &:hover {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
    }
}
