.partners {
    background-color: var(--color-secondary);

    @include media('<laptophdpi') {
        height: auto;
    }
    @include media('<=tablet') {
        margin-bottom: -5rem;
    }

    &__wrap {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;

        @include media('<=tablet') {
            justify-content: space-between;
        }

        @include media('<754px') {
            justify-content: center;
        }
    }
}
