.roles {
    background-color: var(--color-black);

    &__list {
        margin-left: var(--spacing-double);
    }

    &__item {
        display: block;
    }

    .paragraph {
        text-transform: capitalize;
    }
}
