// Side bar with logo and business card
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    width: var(--offset-1);
    height: 100%;
    justify-content: flex-end;
}
