.social {
    position: fixed;
    right: 4%;
    bottom: 5%;

    @include media('<=tablet') {
        right: 0;
        top: 0;
        width: 5.625rem;
        height: 5.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-primary);
        box-shadow: var(--box-shadow-mobile);
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}
