.location {
    background-color: var(--color-primary);

    @include media('<=tablet') {
        height: calc(100vh - 20.625rem);
    }

    &__map {
        height: 100%;
        width: 100%;
        border: none;
    }
}
