// Base Structure
// ------------------------------------------------

* {
    margin: 0;
    padding: 0;

    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

a {
    color: var(--blue);

    &:hover {
        color: var(--red);
    }
}

img {
    max-width: 100%;
    height: auto;
}
