// Base Structure
// ------------------------------------------------

* {
    margin: 0;
    padding: 0;

    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}

a:link:active,
a:visited:active {
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

img {
    width: 100%;
    height: auto;
}

section {
    height: 100vh;
}

.content {
    margin-left: var(--offset-1);
    background-color: var(--color-white);
    height: 100%;

    @include media('<tablet') {
        margin-left: 0;
    }
}
