// Variables
// ------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root {
    // Colors
    --color-primary: #8c8957;
    --color-secondary: #656438;
    --color-muted: #afafb4;
    --color-black: #222222;
    --color-grey: #c0c0c0;
    --color-white: #ffffff;

    // Spaces
    --spacing: 1rem;
    --spacing-double: 2rem;
    --spacing-half: 0.5rem;
    --spacing-global: 6.875rem;

    // Fonts
    --font-primary: 'Noto Sans', sans-serif;

    // Sizes
    --size-12: 0.75rem;
    --size-14: 0.874rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-40: 2.5rem;
    --size-44: 2.75rem;
    --size-48: 3rem;
    --size-64: 4rem;

    // Typography
    --heading-1: var(--size-32);
    --heading-2: var(--size-24);
    --heading-3: var(--size-20);
    --heading-4: var(--size-18);
    --heading-5: var(--size-16);
    --heading-6: var(--size-14);
    --paragraph: var(--size-16);

    // Custom Typography
    --big-text: 3.125rem; // 3.125rem - 50px

    @include media('>tablet') {
        --heading-1: var(--big-text);
        --heading-2: var(--size-44);
        --heading-3: var(--size-24);
        --heading-4: var(--size-20);
        --heading-5: var(--size-16);
        --heading-6: var(--size-12);
        --paragraph: var(--size-16);
    }

    @include media('>laptophdpi') {
        --heading-1: clamp(3.125rem, -0.7321rem + 4.2857vw, 6.125rem);
    }

    // clamp(3.125rem, 1.8393rem + 2.6786vw, 6.125rem);
    // clamp(3.125rem, 2.0313rem + 2.2786vw, 7.5rem);

    // Transition
    --transition: all 0.25s ease-in-out;

    // box shadow
    --box-shadow: 0px 0px 42px -8px rgba(0, 0, 0, 0.25);
    --box-shadow-mobile: 0px 4px 9px rgba(0, 0, 0, 0.25);

    // heights
    --height-73: 73.444444%;
    --mobile-height: 5.625rem;
    --mobile-width: var(--mobile-height);

    // Offsets
    --offset-1: 34.44444%;
}
