<section class="about">
    <div class="content container--full u-py-global">
        <h2 class="title">Quem Somos</h2>
        <p class="paragraph">
            O escritório Leal & Clementino - Assessoria Jurídica - foi criado por Ilnah Cláudia Freitas Clementino e
            Sabrina Leal de Oliveira e tem por objetivo o comprometimento pessoal de suas sócias na excelência do
            serviço jurídico prestados aos seus clientes, participando ativamente dos processos cíveis e trabalhistas,
            prestando atendimento personalizado com elevado padrão de qualidade.
        </p>
        <p class="paragraph">
            O escritório atua nas áreas trabalhista, previdenciária, cível, família, imobiliário e tributária em todos
            os graus de jurisdição administrativa e judicial, estudando as mais eficazes e melhores soluções dos
            litígios de seus clientes. Tendo como premissas fundamentais a ética nos relacionamentos, a sinceridade nas
            opiniões e o respeito a legislação.
        </p>
    </div>
</section>
