<div class="card">
    <div class="card__wrap">
        <div class="card__info">
            <div class="card__header">
                <h3 class="card__name">ilnah clementino</h3>
                <span class="card__oab">oab/ce 9.021</span>
            </div>
            <h6 class="card__partnership">sócia fundadora</h6>
            <div class="card__contact">
                <a href="mailto:lealeclementino@gmail.com"
                    class="card__link card__link--email">lealeclementino@gmail.com</a>
                <a href="tel:85991111014" class="card__link card__link--phone">+55 85-99111-1014</a>
            </div>
        </div>
    </div>
</div>
