<section id="contact" class="contact">
    <div class="content">
        <iframe class="contact__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.3653782526785!2d-38.518116985049275!3d-3.730282497286012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c7485a0fea1269%3A0x60e1ac200148203a!2sAv.%20Santos%20Dumont%2C%20847%20-%20Centro%2C%20Fortaleza%20-%20CE%2C%2060150-160%2C%20Brazil!5e0!3m2!1sen!2sca!4v1614181474070!5m2!1sen!2sca"
            allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>
