<footer id="footer" class="footer">
    <ul class="address__list">
        <li class="address__item">
            <a href="" class="address__info-link">
                <i class="address__icon bi bi-telephone" alt="Nosso número de contato" aria-hidden="false"></i>
                <span class="address__info">(85) 999.9999</span>
            </a>
        </li>
        <li class="address__item">
            <a href="mailto:email@email.com" class="address__info-link">
                <i class="address__icon bi bi-envelope" alt="Nosso email de atendimento" aria-hidden="false"></i>
                <span class="address__info">email@email.com</span>
            </a>
        </li>
        <li class="address__item">
            <a href="#contact" class="address__info-link">
                <i class="address__icon bi bi-geo-alt" alt="Onde estamos localizados" aria-hidden="false"></i>
                <span class="address__info">Av. Santos Dumont, 847, Fortaleza - CE</span>
            </a>
        </li>
    </ul>
</footer>
