<header id="header" class="header header--mobile">
    <div class="header__top">
        {{> components/logo position="u-fixed" logoPath="images/logo-white.png"}}
        {{> components/logo bgColor="u-bg-white" position="u-absolute" logoPath="images/logo-primary-x1.png"}}
        {{> components/social-icons}}
    </div>
    {{> components/nav}}
</header>
