<section class="hero">
    <div class="side-bar">
        <a class="side-bar__link" href="./" title="Ir para a página inicial">
            <img class="side-bar__logo" src="images/logo-default.png" alt="leal e clementino assessoria jurídica">
        </a>
        <div class="side-bar__card">

            <ul class="side-bar__list">
                <li class="side-bar__item">
                    <a href="" class="side-bar__info-link">
                        <img src="images/phone.png" alt="Nosso número de contato" aria-hidden="false"
                            class="side-bar__icon">
                        <span class="side-bar__info">(85) 999.9999</span>
                    </a>
                </li>
                <li class="side-bar__item">
                    <a href="mailto:email@email.com" class="side-bar__info-link">
                        <img src="images/mail.png" alt="Nosso email de atendimento" aria-hidden="false"
                            class="side-bar__icon">
                        <span class="side-bar__info">email@email.com</span>
                    </a>
                </li>
                <li class="side-bar__item">
                    <a href="" class="side-bar__info-link">
                        <img src="images/map-pin.png" alt="Onde estamos localizados" aria-hidden="false"
                            class="side-bar__icon">
                        <span class="side-bar__info">Av. nome bonito, 1245 - Cep 60.000-00</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="hero__container">
        <img class="hero__img" src="images/hero.jpg" alt="leal e clementino assessoria jurídica imagem de fundo">
        <h1 class="hero__title">ética </br> sinceridade </br> respeito</h1>
    </div>
</section>
