<section class="hero">
    {{> components/logo bgColor="u-bg-white" width="u-w-33" logoColor="images/logo-green.png"}}
    <div class="hero__container">

        <img class="hero__img" src="images/hero.jpg" alt="leal e clementino assessoria jurídica imagem de fundo">
        <h1 class="hero__title">ética </br> sinceridade </br> respeito</h1>

    </div>
    <div class="hero__social">
        <a class="hero__social-link" href="https://facebook.com" target="_blank"
            title="Clique para acessar o nosso Facebook">
            <img src="images/facebook.png" alt="Imagem para acessar o nosso facebook" class="hero__social-img"
                aria-hidden="false">
        </a>
    </div>
</section>
