<section class="hero">
    <div class="hero__box-logo">
        <a class="hero__link" href="./" title="Ir para a página inicial">
            <img class="hero__logo" src="images/logo-default.png" loading="lazy" width="210" height="150"
                alt="leal e clementino assessoria jurídica">
        </a>
    </div>
    <div class="hero__container">

        <img class="hero__img" src="images/hero.jpg" alt="leal e clementino assessoria jurídica imagem de fundo">
        <h1 class="hero__title">ética </br> sinceridade </br> respeito</h1>

    </div>
    <div class="hero__social">
        <a class="hero__social-link" href="https://facebook.com" target="_blank"
            title="Clique para acessar o nosso Facebook">
            <img src="images/facebook.png" alt="Imagem para acessar o nosso facebook" class="hero__social-img"
                aria-hidden="false">
        </a>
    </div>
</section>
