<section class="hero">
    <div class="hero__container">
        <img class="hero__img" src="images/hero.jpg" alt="leal e clementino assessoria jurídica imagem de fundo">
        <h1 class="hero__title">ética </br> sinceridade </br> respeito</h1>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--1"><a class="nav__link nav__link--active" href="">quem somos</a></li>
                <li class="nav__item nav__item--2"><a class="nav__link" href="">áreas de atuação</a></li>
                <li class="nav__item nav__item--3"><a class="nav__link" href="">sócios</a></li>
                <li class="nav__item nav__item--4"><a class="nav__link" href="">fale conosco</a></li>
            </ul>
        </nav>
    </div>
    <div class="hero__social">
        <a class="hero__social-link" href="https://facebook.com" target="_blank"
            title="Clique para acessar o nosso Facebook">
            <img src="images/facebook.png" alt="Imagem para acessar o nosso facebook" class="hero__social-img"
                aria-hidden="false">
        </a>
    </div>
</section>
