<section id="hero" class="hero">
    <div class="hero__container u-ml-34">
        <img class="hero__img" src="images/hero.jpg" alt="leal e clementino assessoria jurídica imagem de fundo">
        <h1 class="hero__title">ética </br> sinceridade </br> respeito</h1>
    </div>
</section>
