<div class="logo-wrap {{#if bgColor}} {{bgColor}} {{/if}} {{position}}">
    <a class="logo" href="#header" title="Ir para a página inicial">
        <picture class="logo__box">
            <source srcset="images/logo-mobile1x.png" media="(max-width: 375px)" loading="lazy" width="334" height="85">
            <source srcset="images/logo-mobile2x.png" media="(max-width: 768px)">
            <img class="logo__img" src={{logoPath}} loading="lazy" width="210" height="150"
                alt="leal e clementino assessoria jurídica">
        </picture>
    </a>
</div>
