<picture class="box-logo {{#if bgColor}} {{bgColor}} {{/if}} {{position}}">
    <a class="logo" href="#hero" title="Ir para a página inicial">
        <img class="logo__img" src={{logoColor}} loading="lazy" width="210" height="150"
            alt="leal e clementino assessoria jurídica">
    </a>
</picture>
