<main id="main" class="site-main container">

    <article id="post" class="page">
        <div class="entry-content">
            <section class="section">
                <header class="page-header">

                </header>
                <figure>
                    <img src='images/logo-default.png' width="210" height="150" alt />
                    <figcaption>Photo by <a
                            href="https://unsplash.com/@dariuscotoi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Darius
                            Cotoi</a> on <a
                            href="https://unsplash.com/s/photos/snowflake?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </figcaption>
                </figure>
            </section>
        </div>
    </article>
</main>
