<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item nav__item--1"><a class="nav__link nav__link--active" href="">quem somos</a></li>
        <li class="nav__item nav__item--2"><a class="nav__link" href="">áreas de atuação</a></li>
        <li class="nav__item nav__item--3"><a class="nav__link" href="">sócios</a></li>
        <li class="nav__item nav__item--4"><a class="nav__link" href="">fale conosco</a></li>
    </ul>
</nav>
