<section id="partners" class="partners">
    <div class="content container--full u-py-global">
        <h2 class="title">Sócios</h2>
        <div class="partners__wrap">
            {{> components/card}}
            {{> components/card}}
            {{> components/card}}
        </div>
    </div>
</section>
