<section id="partners" class="partners">
    <div class="content container--full u-py-global">
        <h2 class="title">Sócios</h2>
        <div class="partners__card">
            <div class="partners__info">
                <div class="partners__header">
                    <h3 class="partners__name">ilnah clementino</h3>
                    <h4 class="partners__partnership">sócia fundadora</h4>
                    <div class="partners__contact">
                        <a href="mailto:lealeclementino@gmail.com"
                            class="partners__link partners__email">lealeclementino@gmail.com</a>
                        <a href="tel:85991111014" class="partners__link partners__phone">+55 85-99111-1014</a>
                    </div>
                </div>
                <div class="partners__address">
                    <address>
                        <span>Av. santos dumont 847, sala 706 - aldeota</span>
                        <a href="tel:85991111014" class="partners__link partners__phone">+55 85 3055-4040</a>
                        <span>Fortaleza - CE</span>
                        <span>CEP: 60.150-160</span>
                    </address>
                </div>
            </div>
            <figure class="partners__photo">
                <img src="images/partner.jpg" alt="" class="partners__img">
            </figure>
        </div>
    </div>
</section>
