<section id="roles" class="roles">
    <div class="content container--full u-py-global">
        <h2 class="title">Áreas de Atuação</h2>
        <ul class="roles__list">
            <li class="roles__item">
                <p class="paragraph">administrativo</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">consumidor</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">contratos</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">direito imobiliário</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">empresarial</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">enfiteuse</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">família</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">previdenciário</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">propriedade intelectual</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">segurança do trabalho</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">seguros</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">sucessões</p>
            </li>
            <li class="roles__item">
                <p class="paragraph">trabalhista</p>
            </li>
        </ul>
    </div>
</section>
