<section id="roles" class="roles">
    <div class="content container--full u-py-global">
        <h2 class="title">Áreas de Atuação</h2>
        <ul class="roles__list">
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-pentool.png" alt="">
                <p class="paragraph">administrativo</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-consumidor.png" alt="">
                <p class="paragraph">consumidor</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-filetext.png" alt="">
                <p class="paragraph">contratos</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-home.png" alt="">
                <p class="paragraph">direito imobiliário</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-empresarial.png" alt="">
                <p class="paragraph">empresarial</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-familia.png" alt="">
                <p class="paragraph">família</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-prev.png" alt="">
                <p class="paragraph">previdenciário</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-book.png" alt="">
                <p class="paragraph">propriedade intelectual</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-shield.png" alt="">
                <p class="paragraph">segurança do trabalho</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-lock.png" alt="">
                <p class="paragraph">seguro</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-shuffle.png" alt="">
                <p class="paragraph">sucessões</p>
            </li>
            <li class="roles__item">
                <img class="roles__icon" src="images/icon-tool.png" alt="">
                <p class="paragraph">trabalhista</p>
            </li>
        </ul>
    </div>
</section>
