<div class="sidebar">
    <div class="sidebar__box-logo">
        <a class="sidebar__link" href="./" title="Ir para a página inicial">
            <img class="sidebar__logo" src="images/logo-default.png" alt="leal e clementino assessoria jurídica">
        </a>
        <div class="sidebar__card">
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="" class="sidebar__info-link">
                        <img src="images/phone.png" alt="Nosso número de contato" aria-hidden="false"
                            class="sidebar__icon">
                        <span class="sidebar__info">(85) 999.9999</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="mailto:email@email.com" class="sidebar__info-link">
                        <img src="images/mail.png" alt="Nosso email de atendimento" aria-hidden="false"
                            class="sidebar__icon">
                        <span class="sidebar__info">email@email.com</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="" class="sidebar__info-link">
                        <img src="images/map-pin.png" alt="Onde estamos localizados" aria-hidden="false"
                            class="sidebar__icon">
                        <span class="sidebar__info">Av. nome bonito, 1245 - Cep 60.000-00</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
