<div class="social">
    <a class="social__link" href="https://facebook.com" target="_blank"
        title="Clique para acessar o nosso Facebook">
        <img src="images/facebook.png" alt="Imagem para acessar o nosso facebook" class="social__img"
            aria-hidden="false">
    </a>
</div>
